<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                {% for prod_slid in product_slider %}
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="{{prod_slid.image.url}}" height="400px" style="object-fit:cover" alt="">
                    <div class="banner-caption">
                        <h1 class="primary-color">{{prod_slid.title}}<br><span class="white-color font-weak">{{prod_slid.price}}</span></h1>
                        <a href="" class="primary-btn">купить</a>
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->