<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                {% for prod_slid in product_slider %}
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="{{prod_slid.image.url}}" height="400px" style="object-fit:cover" alt="">
                    <div class="banner-caption">
                        <a href="{% url 'product_detail' prod_slid.slug %}" class="primary-btn">посмотреть</a>
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->